.header-main{
    background-color: #0c2949;
     
   }
   
   .text-muted{
       color: white;
   }
   .col-lg-2{
       color: #05386B;
       font-size: x-large;
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-weight:lighter;
       
   }