<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a href="#" class="navbar-brand">CompanyName<b>Name</b></a>  		
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a [routerLink]="['/admin-login']" data-toggle="dropdown" class="btn btn-primary mr-4">Admin</a>
			<a href="#" class="nav-item nav-link">Home</a>
			<a href="#" class="nav-item nav-link">About</a>	
			<a href="#" class="nav-item nav-link">Contact</a>		
			<!--
			<div class="nav-item dropdown">
				<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">Services</a>
				<div class="dropdown-menu">					
					<a [routerLink]="['/CardDetails']" class="dropdown-item">EMI Card Details</a>
					<a [routerLink]="['/Order-History']" class="dropdown-item">Order History</a>
					<a href="#" class="dropdown-item">Electronics</a>
					<a href="#" class="dropdown-item">Other Services</a>
                </div>
            </div>
			<a href="#" class="nav-item nav-link active">Pricing</a>
			<a href="#" class="nav-item nav-link">Blog</a>
			-->			
		</div>

		<div class="navbar-nav ml-auto action-buttons">
			
			<div class="nav-item dropdown">
				<a [routerLink]="['/Login']" data-toggle="dropdown" class="btn btn-primary dropdown-toggle mr-3">Login</a>
				<!--<div class="dropdown-menu">					
					<a [routerLink]="['/Login']" class="dropdown-item">Login as User</a>
					<a [routerLink]="['/admin-login']" class="dropdown-item">Login as Admin</a>					
                </div>-->
			</div>
			
			<div class="nav-item dropdown">
				<a [routerLink]="['/Register']" data-toggle="dropdown" class="btn btn-primary dropdown-toggle sign-up-btn">Register</a>
			</div>
        </div>
	</div>
</nav>

</header>