<!--div class="modal fade" id="quoteForm" tabindex="-1" role="dialog" aria-labelledby="quoteForm" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content p-md-3"-->
        <div class="header">
        </div>
        <div class="body">
            <div class="pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 p-5 bg-white rounded ">
        
                            <!-- Shopping cart table -->
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="p-2 px-3 text-uppercase">Product</div>
                                            </th>
                                            <!-- <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase">Price</div>
                                            </th>
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase">Remove</div>
                                            </th> -->
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase"></div>
                                            </th>
        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <div *ngIf="cartProduct?.length == 0">
                                            <tr colspan="2" class="alert alert-info " style="text-align: center;">Empty Cart</tr>
                                        </div>
                                        <div *ngIf="cartProduct?.length > 0">
                                            <tr *ngFor="let item of cartProduct">
                                                <th scope="row" class="border-0">
                                                    <div class="p-2">
                                                        <img src={{item.product_image}} alt="" width="70" class="img-fluid rounded shadow-sm">
                                                        <div class="ml-3 d-inline-block align-middle">
                                                            <h5 class="mb-0"> <a class="text-dark d-inline-block align-middle">{{item.product_name}}</a></h5><span class="text-muted font-weight-normal font-italic d-block">{{item.product_small_descripton}}</span>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td class="border-0 align-middle"><strong>{{item.product_price}}</strong></td>
                                                <td class="border-0 align-middle"><button (click)="Delete(content,item)"><i class="fa fa-trash"></i></button></td>
                                                <!-- <div *ngIf="paidCharges"> -->
                                                <td *ngIf="approveByAdmin" class="border-0 align-middle"><button [routerLink]="['/Checkout',item.product_id]" class="btn btn-primary rounded-pill btn-block">Proceed to Checkout</button></td>
                                                <!-- </div> -->
                                                <!-- <div *ngIf="!paidCharges"> -->
                                                <td *ngIf="!approveByAdmin" class="border-0 align-middle"><button (click)="PayThecharges()" class="btn btn-primary rounded-pill btn-block">Proceed to Checkout</button></td>
                                                <!-- </div> -->
                                            </tr>
                                            <!-- <tr>
                                            <th scope="row">
                                                <div class="p-2">
                                                    <img src="https://therichpost.com/wp-content/uploads/2020/06/jeans3.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-3 d-inline-block align-middle">
                                                        <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">Lumix camera lense</a></h5><span class="text-muted font-weight-normal font-italic">Category: Electronics</span>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="align-middle"><strong>$79.00</strong></td>
                                            <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td>
                                            <td class="border-0 align-middle"><button [routerLink]="['/Checkout']" class="btn btn-primary rounded-pill btn-block">Proceed to Checkout</button></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="p-2">
                                                    <img src="https://therichpost.com/wp-content/uploads/2020/06/jeans3.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-3 d-inline-block align-middle">
                                                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block">Gray Nike running shoe</a></h5><span class="text-muted font-weight-normal font-italic">Category: Fashion</span>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="align-middle"><strong>$79.00</strong></td>
                                            <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td>
                                            <td class="border-0 align-middle"><button [routerLink]="['/Checkout']" class="btn btn-primary rounded-pill btn-block">Proceed to Checkout</button></td>
                                        </tr> -->
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End -->
                        </div>
                    </div>
        
                    <div *ngIf="!noCardData" class="row py-5 p-4 bg-white rounded ">
        
                        <div class="col-lg-6">
                            <div class="card bg-light">
                                <div class="card-body text-left">
                                    <p class="card-text">Card Number: <input type="text" value={{card_number}} disabled="true" /></p>
                                    <p class="card-text">Name: <input type="text" value={{user.name}} disabled="true" /></p>
                                    <p class="card-text">Valid Till: <input type="text" value={{date}} disabled="true" /></p>
                                    <p class="card-text">Card Type: <input type="text" value={{card_type}} disabled="true" /></p>
                                </div>
                                <div class="alert alert-info " style="text-align: center;">
                                    <p> ACTIVATED </p>
                                </div>
                            </div>
        
                            <div class="p-4">
                                <div class="mb-4">
                                    <p>LIMIT: {{limit}}</p>
                                </div>
                                <div class="mb-4">
                                    <p>REMAINING CREDIT: {{balance}} </p>
                                </div>
        
                            </div>
                        </div>
        
                    </div>
        
                </div>
            </div>
        
        </div>
        
        
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Delete Product!!</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <h2>Are you sure you want to remove the product from cart ?.</h2>
                <div class="border text-center">
                    <button data-dismiss="modal" class="btn btn-primary" (click)="onDelete()"> Yes, Approve!</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
            </div>
        </ng-template>