.cart_count {
    position: relative;
    top: -3px;
    left: 0;
    font-size: 9px;
    background-color: #FF324D;
    border-radius: 50px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    min-width: 16px;
    text-align: center;
    padding: 0 5px;
    display: inline-block;
    vertical-align: top;
    margin-left: -5px;
    margin-right: -5px;
}

.btn-primary {
    color: white;
    background-color: #0c2949;
    opacity: 0.9;
    border-color: #0c2949;
}

p {
    font-weight: bold;
}