<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
</head>
    <body>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2><b>Order History</b></h2>
                        </div>
                        
                    </div>
                </div>              
               <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Sno.</th>
                            <th>Product Name</th>                            
                            <th>Order Date</th>						
                            <th>Status</th>		                            				
                            <th>Net Amount</th> 
                            <th>View Details</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>                     
                            <td>Phone</td>
                            <td>Jun 15, 2017</td>                        
                            <td><span class="status text-success">&bull;</span> Delivered</td>
                            <td>&#8377;25,400</td>
                            <td><a href="#" class="view" title="View Details" data-toggle="tooltip" [routerLink]="['/View-Details']"><i class="material-icons">&#xE5C8;</i></a></td>
                        </tr>
                        <tr>
                            <td>2</td>                     
                            <td>Refrigerator</td>                                                  
                            <td>Jun 21, 2018</td>
                            <td><span class="status text-info">&bull;</span> Shipped</td>
                            <td>&#8377;62,600</td>
                            <td><a href="#" class="view" title="View Details" data-toggle="tooltip" [routerLink]="['/View-Details']"><i class="material-icons">&#xE5C8;</i></a></td>
                        </tr>
                        <tr>
                            <td>3</td>                     
                            <td>Furniture</td>                            
                            <td>Jul 04, 2019</td>
                            <td><span class="status text-danger">&bull;</span> Cancelled</td>
                            <td>&#8377;3,500</td>
                            <td><a href="#" class="view" title="View Details" data-toggle="tooltip" [routerLink]="['/View-Details']"><i class="material-icons">&#xE5C8;</i></a></td>
                        </tr>                       
                        
                    </tbody>
                </table>
                
            </div>
        </div>        
    </div>     
    </body>
    </html>