<!-- <p>product-item works!</p> -->
<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" height="80%" src="{{imageUrl}}" />

    <div class="card-body mt-3" class="mt-auto">
        <h5 class="card-title">{{productItem.product_name}}</h5>
        <p class=" text-right ">
            <strong>{{productItem.product_price | currency: 'INR'}}</strong>
        </p>
        <p class="card-text">{{productItem.product_small_descripton}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary pull-right product-btn 
                " (click)="handleAddToCart()">
                Add To Cart</button>
                <!-- [routerLink]="['/View-Details']"  -->
                <button type="button" [routerLink]="['/View-Details',productItem.product_id]" class="btn1 btn-sm btn-outline-secondary  product-btn ">View Details</button>
            </div>
            <small class="text-muted"></small>
        </div>
    </div>

</div>