<section class="section-content padding-y bg">
    <div class="container">



        <!-- ============================ COMPONENT 2 ================================= -->
        <div class="row">
            <main class="col-md-8">

                <article class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Review cart</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <figure class="itemside  mb-4">
                                    <div class="aside"><img src={{imageUrl}} class="border img-sm"></div>
                                    <figcaption class="info">
                                        <p>{{productName}} </p>
                                        <span class="text-muted">&#8377;{{Price}} </span>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- col.// -->
                            <!-- <div class="col-md-6">
                                <figure class="itemside  mb-4">
                                    <div class="aside"><img src="assets/images/items/2.jpg" class="border img-sm"></div>
                                    <figcaption class="info">
                                        <p>Product</p>
                                        <span class="text-muted">&#8377;560 </span>
                                    </figcaption>
                                </figure>
                            </div> -->
                            <!-- col.// -->
                            <!-- <div class="col-md-6">
                                <figure class="itemside mb-4">
                                    <div class="aside"><img src="assets/images/items/3.jpg" class="border img-sm"></div>
                                    <figcaption class="info">
                                        <p>Product</p>
                                        <span class="text-muted">&#8377;560 </span>
                                    </figcaption>
                                </figure>
                            </div> -->
                            <!-- col.// -->
                            <!-- <div class="col-md-6">
                                <figure class="itemside  mb-4">
                                    <div class="aside"><img src="assets/images/items/4.jpg" class="border img-sm"></div>
                                    <figcaption class="info">
                                        <p>Product</p>
                                        <span class="text-muted">&#8377;560 </span>
                                    </figcaption>
                                </figure>
                            </div> -->
                            <!-- col.// -->
                        </div>
                        <!-- row.// -->
                    </div>
                    <!-- card-body.// -->
                </article>
                <!-- card.// -->


                <article class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Contact info</h4>
                        <form action="">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>First name</label>
                                    <input type="text" placeholder="Type here" class="form-control" value={{user.name}}>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label>Phone</label>
                                    <input type="text" value="+91" class="form-control" value={{user.phone_no}}>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Email</label>
                                    <input type="email" placeholder="example@gmail.com" class="form-control" value={{user.email}}>
                                </div>
                            </div>
                            <!-- row.// -->
                        </form>
                    </div>
                    <!-- card-body.// -->
                </article>
                <!-- card.// -->


                <article class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Delivery info</h4>
                        <form action="">

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Address*</label>
                                    <input type="text" placeholder="Type here" class="form-control" value={{user.address}}>
                                </div>

                                <label for="emiperiod">Choose EMI Period:</label>
                                <select name="emiperiod" class="emi" id="emiperiod" (change)="selectedEmiPeriod($event.target.value)">
                                <option value="" >--Select Option--</option>
                                <option value="3">3 Months</option>
                                <option value="6">6 Months</option>
                                <option value="9">9 Months</option>                                
                                </select>

                            </div>
                            <!-- row.// -->
                        </form>
                    </div>
                    <!-- card-body.// -->
                </article>
                <!-- card.// -->



                <article class="accordion" id="accordion_pay">

                    <div class="card">
                        <header class="card-header">
                            <img src="assets/images/misc/payment-card.png" class="float-right" height="24">
                            <label class="form-check" data-toggle="collapse" data-target="#pay_payme">
                <input class="form-check-input" name="payment-option" type="radio" value="option2">
                <h6 class="form-check-label"> Pay EMI </h6>
            </label>
                        </header>
                        <div id="pay_payme" class="collapse" data-parent="#accordion_pay">
                            <div class="card-body">
                                <form class="form-inline">

                                    <input type="text" class="form-control mr-2" placeholder="Card Number" name="" value={{cardNumber}}>
                                    <input type="text" class="form-control mr-2" style="width: 100px" placeholder="Expiry date dd/yy" name="" value={{date}}>
                                    <div *ngIf="disablePayNow">
                                        <button class="btn btn btn-success" (click)="NotEnoughBalance()">Pay Now</button>
                                    </div>
                                    <div *ngIf="!disablePayNow">
                                        <button class="btn btn btn-success" (click)="Pay()">Pay Now</button>
                                    </div>
                                </form>
                            </div>
                            <!-- card body .// -->
                        </div>
                        <!-- collapse .// -->
                    </div>
                    <!-- card.// -->

                </article>
                <!-- accordion end.// -->

            </main>
            <!-- col.// -->

        </div>
        <!-- row.// -->
    </div>
    <!-- container .//  -->
</section>