<div *ngIf="!IsApproved" class="alert alert-info " style="text-align: center;">Applied EMI Card Is being Processed!!!</div>

<div *ngIf="IsApproved">
    <div class="col-md-4 offset-md-4">

        <div class="emi">
            <h2>EMI Card Details</h2>
        </div>
        <form [formGroup]="emicardForm">
            <p>
                <label for="cardnumber"><b>EMI Card Number</b></label><br>
                <input type="text" id="cardnumber" name="cardnumber" formControlName="cardnumber">
            </p>
            <p>
                <label for="cardtype">CardType</label><br>
                <input type="text" id="cardtype" name="cardtype" formControlName="cardtype">
            </p>
            <p>
                <label for="validtill">ValidTill</label><br>
                <input type="text" id="validtill" name="validtill" formControlName="validtill" placeholder="MM/YY"><br>
            </p>
            <p>
                <label for="limit">Limit</label><br>
                <input type="text" id="limit" name="limit" formControlName="limit">
            </p>
            <p>
                <label for="balance">Balance</label><br>
                <input type="text" id="balance" name="balance" formControlName="balance">
            </p>
        </form>
    </div>
</div>