.col-md-4 offset-md-4 {
    margin-top: 6px;
    margin-bottom: 10px;
    text-align: center;
}

.emi {
    color: white;
    background-color: #0c2949;
    /* background-color: aqua; */
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=text] {
    width: 250px;
    height: 40px;
    display: inline-block;
    margin: 5px 0 2px 0;
}