<div class="col-md-4 offset-md-4">

<div class="emi">
      <h2>EMI Card Details</h2>
    </div>
      <p>EMI Card Number  12345678910</p>
  
       <table>
         <tr>
            <th style="padding-right: 5px;"><b>EMI-Card Id</b></th>
            <td>12345</td><br>
            <th style="padding-left: 10px;"><b>CardType</b></th>
            <td style="padding-left: 20px;">Gold</td>
             <th style="padding-left: 20px;"><b>ValidTill</b></th>
             <td style="padding-left: 20px;">20/11/2022</td>
          </tr>
        </table><br>
        <table>
          <tr>
            <th style="padding-right: 10px;"><b>Card Status</b></th>
            <td>Activated</td><br>
            <th style="padding-left:10px">Limit</th>
            <td style="padding-left: 10px;">50000</td>
            <th style="padding-left: 20px;">Balance</th>
            <td style="padding-left: 20px;">30000</td>
          </tr>

       
</table>

</div>