<p>emi-card works!</p>

<div class="text-center">
    <div class="nav price-tabs" role="tablist">
        <a class="nav-link active" href="#yearly" role="tab" data-toggle="tab">Yearly</a>
        <a class="nav-link" href="#monthly" role="tab" data-toggle="tab">Monthly</a>
    </div>
</div>
<div class="tab-content wow fadeIn" style="visibility:visible; animation-name:fadeIn;">
    <div role="tabpanel" class="tab-pane fade show active" id="yearly">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mb-30">
                <div class="price-item text-center">
                    <div class="price-top">
                        <h4>Personal</h4>
                        <h2 class="mb-0"><sup>&#8377;</sup>250</h2>
                        <span class="text-capitalize">per year</span>
                    </div>
                    <div class="price-content">
                        <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Description</span>
                            </li>                               
                        </ul>
                        <a href="#" class="btn btn-custom">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-30">
                <div class="price-item text-center popular">
                    <div class="price-top">
                        <h4>Business</h4>
                        <h2 class="mb-0"><sup>&#8377;</sup>400</h2>
                        <span class="text-capitalize">per year</span>
                    </div>
                    <div class="price-content">
                        <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Description</span>
                            </li>
                            
                        </ul>
                        <a href="#" class="btn btn-custom btn-light">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-30">
                <div class="price-item text-center">
                    <div class="price-top">
                        <h4>Enterprise</h4>
                        <h2 class="mb-0"><sup>&#8377;</sup>600</h2>
                        <span class="text-capitalize">per year</span>
                    </div>
                    <div class="price-content">
                        <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Description</span>
                            </li>                             
                            
                            
                        </ul>
                        <a href="#" class="btn btn-custom">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="monthly">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mb-30">
                <div class="price-item text-center">
                    <div class="price-top">
                        <h4>Personal</h4>
                        <h2 class="mb-0"><sup>&#8377;</sup>300</h2>
                        <span class="text-capitalize">per month</span>
                    </div>
                    <div class="price-content">
                        <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Description</span>
                            </li>                               
                            
                        </ul>
                        <a href="#" class="btn btn-custom">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-30">
                <div class="price-item text-center popular">
                    <div class="price-top">
                        <h4>Business</h4>
                        <h2 class="mb-0"><sup>&#8377;</sup>500</h2>
                        <span class="text-capitalize">per month</span>
                    </div>
                    <div class="price-content">
                        <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Description</span>
                            </li>                               
                            
                        </ul>
                        <a href="#" class="btn btn-custom btn-light">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-30">
                <div class="price-item text-center">
                    <div class="price-top">
                        <h4>Enterprise</h4>
                        <h2 class="mb-0"><sup>&#8377;</sup>1000</h2>
                        <span class="text-capitalize">per month</span>
                    </div>
                    <div class="price-content">
                        <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                            <li>
                                <i class="zmdi zmdi-check mr-2"></i>
                                <span class="c-black">Description</span>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-custom">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
