table .btn {
    margin: 2px;
}

.card-header {
    background-color: #0c2949;
    color: white;
}

.card {
    background-color: #ece3d6;
    color: black;
    margin-top: 15px;
    font-weight: bold;
}

.table {
    color: black;
}