<div class="col-md-4 offset-md-4">
    
        <div class="card-header margin-right:50px">
            <h2>Apply Here!</h2>
        </div>
    <form [formGroup]="applyemiForm" (ngSubmit)="onSubmit()" novalidate>
        <p>
            <label for="userid" style="text-align:left;margin-right: 150px;"><b>UserId</b></label><br>
             <input type="text" id="usern" name="username" formControlName="username" placeholder="Enter UserId">
        </p>
            <div class="invalid"
                  *ngIf="!userid?.valid && (userid?.dirty ||userid?.touched)">
                <div [hidden]="!userid.errors.required">
                    UserId is required
                  </div>
            </div>
        <p>
            <label for="cardtype" style="text-align:left;margin-right: 120px;"><b>Card Type</b></label><br>
            <label for="gold" style="text-align:left;margin-right: 50px;"><b>Gold</b></label>
            <input type="checkbox" id="cardtype" name="cardtype" formControlName="cardtype"><br>
            <label for="platinum"style="text-align:left;margin-right: 20px;"><b>Platinum</b></label>
            <input type="checkbox" id="cardtype" name="cardtype" formControlName="cardtype">
        </p>
        <div class="invalid" 
        *ngIf="!cardtype?.valid &&(cardtype?.dirty ||cardtype?.touched)">
            <div [hidden]="!cardtype.errors.required">
                Card Type is required
            </div>
        </div>
        <p>
            <label for="bankid" style="text-align:left;margin-right: 150px;"><b>Bank Id</b></label><br>
            <input type="number" id="bankid" name="bankid" formControlName="bankid" placeholder="Enter Bank Id">
        </p>
        <div class="invalid" 
        *ngIf="!bankid?.valid &&(bankid?.dirty|| bankid?.touched)">
           <div [hidden]="!bankid.errors.required">
               Bank Id is required
           </div> 
        </div>
        <p>
            <label for="bank" style="text-align:left;margin-right: 40px;"><b>Bank Account Number</b></label><br>
            <input type="text" id="bank" name="bank" formControlName="bank" placeholder="Enter Bank Account Number">
        </p>
        <div class="invalid" 
        *ngIf="!bank?.valid && (bank?.dirty|| bank?.touched)">
            <div [hidden]="!bank.errors.required">
                Bank Account Number is required
            </div>
        </div>
        <p>
            <label for="ifsc" style="text-align:left;margin-right: 120px;"><b>IFSC Code</b></label><br>
            <input type="text" id="ifsc" name="ifsc" formControlName="ifsc" placeholder="Enter IFSC Code">
        </p>
        <div class="invalid" 
        *ngIf="!ifsc?.valid && (ifsc?.dirty|| ifsc?.touched)">
            <div [hidden]="!ifsc.errors.required">
                IFSC Code is required
            </div>
        </div>
        
        <p>
            <label for="aadhar" style="text-align: left;margin-right:80px;"><b>Aadhar Number</b></label><br>
            <input type="text" id="aadhar" name="aadhar" formControlName="aadhar" placeholder="Enter Aadhar Number">

        </p>
        <div class="invalid"
         *ngIf="!aadhar?.valid &&(aadhar?.dirty|| aadhar?.touched)">
            <div [hidden]="!aadhar.errors.required">
                Aadhar Number is required
            </div>
        </div>
        <p>
            <label for="pan" style="text-align:left;margin-right: 110px"><b>Pan Number</b></label><br>
            <input type="text" id="pan" name="pan" formControlName="pan" placeholder="Enter Pan Number">
        </p>
        <div class="invalid"
        *ngIf="!pan?.valid &&(pan?.dirty|| pan?.touched)">
            <div [hidden]="!pan.errors.required">
                Pan Number is required
            </div>
        </div>
        <button type="submit"class="but"><b>Apply</b></button>
                    
    </form>
</div>