<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div>
                        <div class="card-header text-center text-Black">
                            <h3>Forgot Your Password?</h3>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>
                                <div class="form-group">
                                    <p style="text-align: center;">Enter your registered Username to send a link to reset your password</p>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="tcolor">Username</label>
                                    <!-- <input type="text" class="form-control form-control-lg rounded-0" name="email">     -->
                                    <input type="username" class="form-control form-control-lg rounded-0" name="username" formControlName="username" [ngClass]="{'is-invalid': username.errors && (username.touched || username.dirty), 'is-valid':username.valid}">
                                    <div *ngIf="!username?.valid && (username?.dirty || username?.touched)" id="error-div">
                                        <div [hidden]="!username.errors.required">
                                            Email Id is required
                                        </div>
                                        <!-- <div [hidden]="!emailid.errors.email">
                                            Invalid Email Id
                                        </div> -->
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label for="email" class="tcolor">Captcha</label>
                                    <ngx-recaptcha2 #captchaElem
                                      [siteKey]="siteKey">
                                      </ngx-recaptcha2>
                                  </div> -->

                                <div>
                                    <!-- <button type="submit" class=" btn-lg text-white" id="btnLogin" >Send Reset Link</button> -->
                                    <button type="submit" class="btn btn-primary btn-lg" id="btnLogin" [disabled]="!resetForm.valid">Send Link</button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>